<section>
  <ax-control title="Title">
    <input
      [formControl]="control"
      pattern="[A-Za-z]\d{6}"
      placeholder="Placeholder text"
      type="text"
    />

    <validation when="required">Must be filled</validation>
    <validation when="pattern">Should match pattern</validation>
    <validation when="minlength">Must have length min 6</validation>
  </ax-control>

  <ax-control title="Title">
    <input
      [(ngModel)]="model"
      placeholder="Placeholder text"
      type="text"
    />

    <validation when="required">Must be filled</validation>
    <validation when="pattern">Should match pattern</validation>
  </ax-control>

  <ax-control title="Title">
    <input
      [formControl]="controlDisabled"
      placeholder="Placeholder text 2"
      required
      type="text"
    />
  </ax-control>
</section>
