:host {
  display: flex;
}

.title {
  margin-bottom: 8px;

  &.disabled {
    color: #ababab;
  }
}

.input-container {
  position: relative;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;

  .icon {
    position: absolute;
    right: 10px;
    top: 8px;
  }
}

.error {
  color: #d31818;
  font-size: 12px;
}
